<footer class="bg-black text-white py-10">

  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-6">

    <div class="text-center md:text-left">
      <h2 class="font-bold text-lg mb-4">loopstudios</h2>

      <ul class="flex flex-col md:flex-row gap-4 text-sm">
        <li class="hover:underline cursor-pointer">About</li>
        <li class="hover:underline cursor-pointer">Careers</li>
        <li class="hover:underline cursor-pointer">Events</li>
        <li class="hover:underline cursor-pointer">Products</li>
        <li class="hover:underline cursor-pointer">Support</li>
      </ul>
    </div>

    <div class="flex flex-col items-center md:items-end gap-4">

      <div class="flex gap-4">

        <img src="/images/icon-facebook.svg" class="cursor-pointer hover:opacity-70" />
        <img src="/images/icon-twitter.svg" class="cursor-pointer hover:opacity-70" />
        <img src="/images/icon-pinterest.svg" class="cursor-pointer hover:opacity-70" />
        <img src="/images/icon-instagram.svg" class="cursor-pointer hover:opacity-70" />

      </div>

      <p class="text-sm text-gray-400 text-center md:text-right">
        © 2021 Loopstudios. All rights reserved.
      </p>

    </div>

  </div>

</footer>