<section 
  class="h-screen bg-cover bg-center flex items-center"
  style="background-image: url('/images/image-hero.jpg')" 
>
  <div class="max-w-6xl mx-auto w-full px-6">

    <div class="border-2 border-white p-6 md:p-10 max-w-sm md:max-w-xl">

      <h1 class="text-white font-[Josefin Sans] text-3xl md:text-6xl uppercase leading-tight">
        Immersive experiences that deliver
      </h1>

    </div>

  </div>  
  </section>

  <div class="border border-white text-white p-6 mx-6 md:mx-20 max-w-xl">
    <h1 class="font-[Josefin Sans] text-4xl md:text-6xl uppercase leading-tight">
      Immersive experiences that deliver
    </h1>
  </div>

</section>